
@font-face {
  font-family: 'RobotoMono';
  src: url('./fonts/RobotoMono-Thin.ttf');
}
body {
  margin: 0;
  font-family: 'RobotoMono', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /*Centraliza no meio da tela*/
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;

  text-align: center;

  /*Gradiente definido para o background*/
  background: linear-gradient(to right, rgb(83, 105, 118), rgb(41,46,73));
  color: white;
}

